
@media (max-width: 600px) {

.introduccion{
    display: block; 
    /* flex-direction: row; */
    /* justify-content: space-evenly; */
    align-items: center;
}


.no-estas-sola-section {
    .center-poster {
        .content-post {
             height: 80vh;
            // .content-testimonios {
            //     }
            // }
        }
    }
}

    footer{
        text-align: center;
        margin-right: 0%;
        .redes{
            width: 100%;
        }
        .content-acompañamiento{
            height: 50vh;
            display: block;

            .content-text {
                display: flex;
                flex-direction: column;
                width: 90%;
                margin-left: 4%;
            }
        }
    }
}