@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

.ocultar {
  display: none;
}

.flexbox {
  display: flex;
}

header .navbar-fixed {
  height: 100px;
}
header nav {
  height: 100px;
}
header nav ul {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}
header nav ul a {
  height: 100%;
  font-family: "Poppins", sans-serif;
  color: black;
}

.general {
  margin-bottom: 0 !important;
}

.each-section {
  width: 100% !important;
  height: 100vh !important;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.home-container-scroll .introduccion {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.home-container-scroll .introduccion .img-introduccion,
.home-container-scroll .introduccion .text-introduccion {
  width: 40%;
}
.home-container-scroll .introduccion .img-introduccion img {
  width: 90%;
}
.home-container-scroll .introduccion .text-introduccion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50%;
}
.home-container-scroll .introduccion .text-introduccion p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  width: 70%;
}
.home-container-scroll .introduccion .text-introduccion h5 {
  font-family: "Playfair Display", serif;
}
.home-container-scroll .introduccion .text-introduccion .btn-reserva {
  width: 250px;
  height: 50px;
  border: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

#espacio-seguro-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2%;
}
#espacio-seguro-section .espacio-menu {
  width: 53%;
}
#espacio-seguro-section .espacio-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 40%;
  height: 40%;
}
#espacio-seguro-section .espacio-text h5 {
  font-family: "Playfair Display", serif;
}
#espacio-seguro-section .espacio-text p {
  font-family: "Poppins", sans-serif;
}

.form-initial {
  flex-direction: column;
  justify-content: center;
  padding: 5%;
  padding-left: 7%;
  flex-direction: row;
  margin-bottom: 0 !important;
}
.form-initial #form-data-basic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}
.form-initial #form-data-basic h2 {
  font-family: Playfair Display;
  font-size: 30px;
  line-height: 40px;
  color: #000000;
}
.form-initial #form-data-basic #btn-continue {
  width: 240px;
  height: 50px;
  border: none;
  cursor: pointer;
}

.form-especific {
  padding-left: 5%;
  padding-right: 5%;
}
.form-especific .second-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}
.form-especific .second-form #btn-confirm {
  margin-top: 5%;
  width: 50%;
  height: 50px;
  border: none;
  cursor: pointer;
}
.form-especific #resumen {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  width: 42% !important;
  background: #F08276;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}
.form-especific #resumen h2 {
  font-family: Playfair Display;
  font-size: 30px;
  line-height: 40px;
  color: #000000;
  text-align: center;
}
.form-especific #resumen #datos #data-fixed {
  font-family: Playfair Display;
  font-size: 30px;
  line-height: 40px;
  color: #000000;
  text-align: center;
}
.form-especific #resumen #datos #data-fixed .textAdd {
  font-size: 16px !important;
  font-family: "Poppins", sans-serif;
}

.no-estas-sola-section {
  background: #F3E5F5;
  font-family: Poppins;
  text-align: center;
  display: flex;
  align-items: center;
  vertical-align: middle;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}
.no-estas-sola-section .center-poster .content-post {
  height: 110vh;
}
.no-estas-sola-section .center-poster .content-post h2 {
  font-family: Playfair Display;
  font-size: 30px;
  line-height: 40px;
  margin-top: 0 !important;
}
.no-estas-sola-section .center-poster .content-post h2 strong {
  font-weight: 700;
}
.no-estas-sola-section .center-poster .content-post h4 {
  font-size: 16px;
  line-height: 24px;
}
.no-estas-sola-section .center-poster .content-post button {
  padding: 11px 23px;
  border: none;
}
.no-estas-sola-section .center-poster .content-testimonios {
  background: #EFC0BB;
}
.no-estas-sola-section .center-poster .content-testimonios .col {
  padding: 5%;
}
.no-estas-sola-section .center-poster .content-testimonios .col h3 {
  font-family: Lato;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
}
.no-estas-sola-section .center-poster .content-testimonios .col p {
  font-family: Poppins;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

footer {
  background: #F8E8D8;
}
footer .content-acompañamiento {
  color: #000000;
  display: flex;
  justify-content: space-between;
}
footer .content-acompañamiento .redes {
  width: 40%;
  margin-left: 5%;
}
footer .content-acompañamiento .redes .icon {
  width: 12%;
  margin-top: 5%;
}
footer .content-acompañamiento .content-text {
  color: #000000;
  width: 35%;
  margin-right: 3%;
}
footer .content-acompañamiento .content-text h3 {
  font-family: Playfair Display;
  font-size: 24px;
  line-height: 32px;
}
footer .content-acompañamiento .content-text .icon {
  width: 100%;
  display: flex;
}
footer .content-acompañamiento .content-text .icon img {
  width: 8%;
}
footer .content-acompañamiento .content-text .icon h4 {
  font-family: Poppins;
  font-size: 14px;
  line-height: 21px;
  color: white;
}
footer .content-acompañamiento .content-text .icon h4 a {
  color: #000000;
}

.contacto-section {
  width: 100%;
  height: 20vh;
  padding-left: 1%;
  padding-right: 1%;
}
.contacto-section h2 {
  font-family: Playfair Display;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}
.contacto-section h3 {
  font-family: Poppins;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin: 0 !important;
  color: #000000;
}

@media (max-width: 600px) {
  #home-section {
    /* flex-direction: row; */
    /* justify-content: space-evenly; */
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  #home-section .img-introduccion,
#home-section .text-introduccion {
    width: 100%;
  }
  #home-section .img-introduccion img {
    width: 100%;
  }

  #espacio-seguro-section {
    display: flex;
    flex-direction: column;
    height: 140vh !important;
  }
  #espacio-seguro-section .espacio-text {
    width: 90%;
  }
  #espacio-seguro-section .espacio-menu {
    width: 90%;
  }
  #espacio-seguro-section .espacio-menu .collapsible .active .collapsible-body {
    padding: 1rem;
  }

  #agenda-section {
    margin-bottom: 0;
  }
  #agenda-section .form-especific {
    flex-direction: column !important;
  }
  #agenda-section .form-especific .second-form {
    margin-top: 9%;
    margin-bottom: 9%;
  }
  #agenda-section .form-especific .resumen {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100% !important;
  }

  .no-estas-sola-section .center-poster .content-post {
    height: 80vh;
  }

  footer {
    text-align: center;
    margin-right: 0%;
  }
  footer .redes {
    width: 100% !important;
    margin-left: 0 !important;
  }
  footer .content-acompañamiento {
    height: 50vh;
    display: block;
  }
  footer .content-acompañamiento .content-text {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 4%;
  }
}

/*# sourceMappingURL=style.css.map */
